.nav-image{
    height: 100px;
}
.nav-f-all{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.nav-back{
    
}
.scrolled {
    /* background-color:rgb(211, 143, 16);  */
    /* background-color:#9f4103; */
    background-color: rgb(230, 226, 226);
    opacity: .9;

    
  }
  .text-white .nav-link {
    /* color: white !important; */
    color: black !important;

  }
  .navbar-toggler-icon {
    border: none; /* Remove border around nav bar icon */
  }

  /* Media query for screens smaller than 768 pixels */
@media screen and (max-width: 767px) {
  .nav-image{
    height: 20px;
}
.nav-f-all{
  font-weight: bold;
  font-size: 10px;
  color: white;
}
}

/* Media query for screens between 768 and 1024 pixels */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-image{
    height: 20px;
}
.nav-f-all{
  font-weight: bold;
  font-size: 10px;
  color: white;
}
}

/* Media query for screens larger than 1024 pixels */
@media screen and (min-width: 1024px) {


}


  
  
