.final-big-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.final-back-big-img-around{

    background-image: url(./image/new.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.f-final-pa-img{

    background-image: url(./image//pattern.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f-text-alin{

    font-size: 50px;
    font-weight: bold;
    
}