
/* .youtube-1{
    border-radius: 50px;
} */



.ad-you-back-img{
    background-image: url(./image/trigo-clipart.png);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}
.you-contact{
    padding-top: 70px;
    font-size: 54px;
    /* color: white; */
    color: #9f4103; 

    font-weight: bold;
}
.you-contact-2{
    font-size: 54px;
    font-weight: bold;
    color: #9f4103; 

}

.i-cons-01{
    font-size: 70px;
    color:black; 
    /* color: #9f4103;  */


}
.i-cons-text-01{
    font-size: 30px;
    color:black; 
    /* color: #9f4103;  */

    font-weight: bold;

}
.you-img-create{
    height: 400px;
    padding-right: 80px;
    
}
.you-img-create-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-you-bk-1{
    background-image: url(./image/pattern.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Media query for screens smaller than 768 pixels */
@media screen and (max-width: 767px) {
    .you-contact{
        padding-top: 70px;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    .you-contact-2{
        font-size: 20px;
        font-weight: bold;
        color: #9f4103; 
    
    }
    .i-cons-01{
        font-size: 20px;
        color:white; 
    
    }
    .i-cons-text-01{
        font-size: 20px;
        color:white; 
        font-weight: bold;
    
    }
    .ad-you-back-img{
        background-image: url(./image/pexels-pixabay-209371.jpg);
    
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 340px;
    }
    
    
  }
  
  /* Media query for screens between 768 and 1024 pixels */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
   
    .you-contact{
        padding-top: 70px;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    .you-contact-2{
        font-size: 20px;
        font-weight: bold;
        color: #9f4103; 
    
    }

    .i-cons-01{
        font-size: 20px;
        color:white; 
    
    }
    .i-cons-text-01{
        font-size: 20px;
        color:white; 
        font-weight: bold;
    
    }
    .ad-you-back-img{
        background-image: url(./image/pexels-pixabay-209371.jpg);
    
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
    }
    
    
  }
  
  /* Media query for screens larger than 1024 pixels */
  @media screen and (min-width: 1024px) {
  
  
  }